SCALA/.bloop
SCALA/.bsp
SCALA/.metals
SCALA/.vscode
SCALA/build.sbt
SCALA/project/
SCALA/target/
.metals
.bloop
.vscode
.bsp
target/
project/
SCALA.code-workspace
PYTHON/chapter2/__pycache__/
PYTHON/chapter2/__init__.py
